<div class="uk-child-width-auto">
  <PowerSelect
    @options={{@selector.options}}
    @selected={{this.selectedOption}}
    @onChange={{this.onSelect}}
    as |option|
  >
    {{option.label}}
  </PowerSelect>
</div>